<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
    </head>
    <body>
        
        <div id="app">
            {{ message }}
        </div>       

        <div id="app1">
            <span v-if="seen">你看得到我？</span>
        </div>

        <div id="app2">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">顛倒字串</button>
        </div>
     
        <div id="app3">
            <ol>             
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                >
                </todo-item>
            </ol>
        </div>


        <script src="index.js"></script>
    </body>
</html>